#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases

SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('sales.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# create a table 
cursor.execute(
    '''
CREATE TABLE IF NOT EXISTS employees
(id int primary key ,
name varchar(50) not null,
age int ,
department varchar(50)
)
'''
)
## Commit the changes
connection.commit()

In [5]:
cursor.execute(
    '''
SELECT * FROM employees
'''
)

In [6]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [8]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
rows

[(None, 'Krish', 32, 'Data Scientist'),
 (None, 'Bob', 25, 'Engineering'),
 (None, 'Charlie', 35, 'Finance')]

In [9]:
for row in rows:
    print(row)

(None, 'Krish', 32, 'Data Scientist')
(None, 'Bob', 25, 'Engineering')
(None, 'Charlie', 35, 'Finance')

In [10]:
## Update the data in the table
cursor.execute(
    '''
UPDATE employees 
SET age = 40 
WHERE name = 'Krish'
'''
)
connection.commit()

In [11]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(None, 'Krish', 40, 'Data Scientist')
(None, 'Bob', 25, 'Engineering')
(None, 'Charlie', 35, 'Finance')

In [12]:
## Delete the data from the table
cursor.execute(
    '''
DELETE FROM employees 
WHERE name = 'Bob'
'''
)
connection.commit()

In [13]:
## Query the data from the table
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(None, 'Krish', 40, 'Data Scientist')
(None, 'Charlie', 35, 'Finance')

In [14]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [15]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [16]:
connection.close()

In [17]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.